@model Northwind.MvcWebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="card card-plain">
        <div class="header">
            <h4 class="title">Products Table</h4>
            <p class="category">Here are products of us</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover">
                <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
                <th></th>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                    <tr>
                        <td>@product.ProductID</td>
                        <td>@product.ProductName</td>
                        <td>$@product.UnitPrice</td>
                        <td>
<!--Sepete Ekle-->
                            @using (Html.BeginForm("AddToCart", "Cart"))
                            {
                                @Html.Hidden("productId", product.ProductID) //Html.HiddenFor(p=>product.ProductID)

                                <input type="submit" value="Add To Cart" />
                            }
                        </td>
                        @*
<!--Other Ways-->
                        <td>@Html.ActionLink("ActionLink","AddToCart","Cart",new { productId = product.ProductID },null)</td>
                        <td><a href="/Cart/AddToCart?productId=@product.ProductID" >aLinki</a></td>
                         *@
                    </tr>
                    }
                </tbody>
            </table>


<!--Pager-->
            <div class="pager">
                @*HtmlHelpers klasörü altında, kendi tanımladığım Html Helper'ı çağırarak kullandım*@
                @using Northwind.MvcWebUI.HtmlHelpers
                @Html.Pager((Northwind.MvcWebUI.Models.PagingInfo)Model.PagingInfo, (int)ViewBag.CurrentCategory)
                @*Html.RecoButton()*@
            </div>


        </div>
    </div>
</div>