@model Northwind.Entities.ShippingDetails

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout Now</h2>

@using (Html.BeginForm())
{
    if (ViewBag.Customer != null)
    {
        @Html.DisplayNameFor(m => m.Name) <br />
        @Html.TextBoxFor(m => m.Name, new { @Value = @ViewBag.Customer.ContactName }) <br /><br />

        @Html.DisplayNameFor(m => m.Address1) <br />
        @Html.TextBoxFor(m => m.Address1, new { @Value = @ViewBag.Customer.Address }) <br /><br />

        @Html.DisplayNameFor(m => m.Address2) <br />
        @Html.TextBoxFor(m => m.Address2) <br /><br />

        @Html.DisplayNameFor(m => m.Address3) <br />
        @Html.TextBoxFor(m => m.Address3) <br /><br />

        @Html.DisplayNameFor(m => m.City) <br />
        @Html.TextBoxFor(m => m.City, new { @Value = @ViewBag.Customer.City }) <br /><br />

        @Html.DisplayNameFor(m => m.Country) <br />
        @Html.TextBoxFor(m => m.Country, new { @Value = @ViewBag.Customer.Country }) <br /><br />

        @Html.DisplayNameFor(m => m.IsGift) <br />
        @Html.CheckBoxFor(m => m.IsGift) <br /><br />
    }
    else
    {
        @Html.EditorForModel()
    }
    <input type="submit" value="Complete Checkout" />
}